.info {
  color: white;

  @media only screen and (max-height: 45em) {
    transform: scale(.8);
    
  }

  &__up {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media only screen and (max-width: 56.25em) {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    @media only screen and (max-width: 37.5em) {
      margin: 0 2%;
    }

    @media only screen and (max-width: 25.93em) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @media only screen and (max-height: 45em) {
        margin-top: -10rem;
      }

   

    & > *:not(:last-child) {
      margin-right: 3rem;
    }

    &--degrees {
      font-weight: 700;
      font-size: 10rem;

      @media only screen and (max-width: 56.25em) {
        flex: 0 0 30%;
        padding-left: 5rem;
      }

      @media only screen and (max-width: 25.93em) {
       flex: 0 0 100%;
       font-size: 8rem;
      }
    }

    &--details {
      font-size: 2rem;

      @media only screen and (max-width: 56.25em) {
        flex: 0 0 30%;
      }

      @media only screen and (max-width: 25.93em) {
        flex: 0 0 100%;
        font-size: 1.6rem;
       }
    }

    &--weather {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 2rem;

      @media only screen and (max-width: 56.25em) {
        flex: 0 0 100%;
        margin-bottom: 5%;
        
      }

      @media only screen and (max-width: 25.93em) {
        flex: 0 0 100%;
        font-size: 1.6rem;
       }

      &-logo {
        transform: scale(2.5);
        margin-bottom: 1.5rem;

        @media only screen and (max-width: 56.25em) {
          height: 15rem;
          width: 15rem;
        }
      }
    }
  }

  &__down {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    font-size: 2rem;

    @media only screen and (max-width: 37.5em) {
      display: flex;
      flex-direction: column-reverse;
    }

    &--status {
      display: flex;
      @media only screen and (max-width: 25.93em) {
        font-size: 1.6rem;
       }

      &-wind {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-right: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          font-size: 3rem;
          font-weight: 700;
        }
      }

      &-humidity {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          font-size: 3rem;
          font-weight: 700;
        }
      }
    }

    &--time {
      font-size: 5rem;

      @media only screen and (max-width: 37.5em) {
        margin-bottom: 5%;
      }
    }
  }
}
