.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  color: white;

  &__input {
    
    color: white;
    font-size: 2rem;
    height: 5rem;
    width: 50%;
    margin-right: -2.5rem;
    margin-top: 2rem;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid white;
    background-clip: text;

    
   

    &:focus {
      outline: none;
    }

    @media only screen and (max-width: 25.93em) {
      font-size: 1.6rem;
     }
  }

  &__icon {
    margin-top: 2rem;
    transform: scale(2);

    @media only screen and (max-width: 25.93em) {
      transform: scale(1.5);
     }
  }
}
